{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MCQ EXAM LAB{% endblock %}

{% block head %}
        <!-- SITE TITTLE -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Silicon-orchard</title>

        <!-- CSS STYLE -->
       <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/css/jquery-ui.min.css') }}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
<!-- FAVICON -->
<!-- JAVASCRIPTS -->
<script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
        <!-- JAVASCRIPTS -->
  {% endblock %}

{% block content %}
    <body class="bg-image">
        <section class="logo">
            <img class="img img-responsive sol-logo" src="{{ url_for('static', filename='assets/images/memphis.png') }}">
        </section>
        {% if profile_image %}
            <img src="{{ url_for('static', filename='assets/images/profile/' + profile_image) }}">
        {% endif %}
        {% if copyright %}
        {% autoescape false %}
            {{ copyright }}
        {% endautoescape %}
        {% endif %}
        
        <section class="login-section">
            <div class="row">
                <div class="col-md-6 login-form col-md-offset-3">
                    <h2 class="form-title text-center">Logged in as {{ session['username'] }}</h2>
                    <form class="form" role="form" id="profile_form">
                        
                        <div class="">
                            <div class="input-group upload-hide-image"></div>
                            <div class="upload-view-image"></div>
                            <input type="file" name="profile_image" class="" id="profileImage" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary login-btn float-right" id="addImage"><strong>Save</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
		  {% block footer %}
        <!-- Footer Bottom -->
        <footer class="footer-bottom">
            <!-- Container Start -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-12 text-center margin-top-mid">
                        <!-- Copyright -->
                        <div class="copyright white">
                             <p class="">Copyright © <a href="http://www.cs.memphis.edu/"> Center for Information Assurance.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
            <!-- To Top -->
            <!--            <div class="top-to">
                            <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
                        </div>-->
        </footer>

        <!-- JAVASCRIPTS -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    {% endblock %}
</body>
{% endblock %}
